body {
  background-color: rgb(28, 29, 70);
  color: white;
  display: flex;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mycontainer {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.card {
  font-size: 16px;
  width: 300px;
  height: 150px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
}

.cardSelected {
  font-size: 16px;
  width: 300px;
  height: 90px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
}