@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(32, 32, 32);
  /*background-color: rgb(243, 245, 225);*/
  color: rgb(15, 15, 15);
  font-family: "IBM Plex Mono", sans-serif;
}

.card-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  width: 350px;
  position: relative;
  left: 50%;
  border: solid 3px black;
  background-color: rgb(243, 245, 225);
}

.photo {
  width: 346px;
  height: 200px;
  margin-bottom: 20px;
}

.tech-stack {
  margin: 15px;
}

.name-description {
  padding-left: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.name-description h2 {
  font-size: 23px;
  margin-bottom: 7px;
}

.description {
  font-size: 14px;
  font-weight:500;
}

.skill-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 300px;
  white-space: nowrap;
  margin-top: 15px;
}

